//<ОСНОВНОЙ БЛОК>====================================================================================================
.gallery {
	padding: 50px 0px;

	display: flex;
	margin: 0px -7.5px;
	
	@media (max-width:$md3+px){
		padding: 20px 0px;
		flex-wrap: wrap;
	}
	&_reverse{
		flex-direction: row-reverse;
	}
	&_mob-reverse{
		@media (max-width:$md3+px){
			display: flex;
			flex-direction: column-reverse; // gotta use column-reverse, not row-reverse: even though I didn't use flex-direction: column above, it seems that the way flex works is dependent on whether it's ACTUALLY layed out as a row or col - and here on md3 due to wrapping elements are layed out in a col
		}
	}

	&__column {
		padding: 0px 7.5px;

		&_medium {
			flex: 0 1 30%;
		}
		&_narrow {
			flex: 0 1 20%;
			@media (max-width:$md3+px){
				display: none;
			}
		}
		&_wide {
			flex: 0 1 40%;
			@media (max-width:$md3+px){
				display: none;
			}
		}

		@media (max-width:$md3+px){
			&_medium {
				flex: 1 1 100%;
			}
			margin: 0px 0px 40px 0px;
		}
	}

	&__description {
		@media (min-width:$md3+px){ 
			position: relative;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
		@media (max-width:$md3+px){
			display: flex;
			align-items: center;
		}
		
	}

	&__link{
		&:hover{
			&::after{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.185);
			}
		}
	}

	&__image{
		height: 446px;
		position: relative;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width:$md2+px){
			height: 300px;
		}
	}
}
.block {
	display: inline-flex; // чтобы не располз на всю ширину и не мешал центрировать gallery__description
	flex-direction: column;
	@media (max-width: 1200px){
		padding: 0px 0px 0px 20px;
	}
	@media (max-width:$md3+px){
		padding: 0;
		
	}

	&__title {
		font-family:'GothamPro';
		font-size: 28px;
		line-height: 27px;
		font-weight: 500;
		margin: 0px 0px 35px 0px;
		@media (max-width:$md3+px){
			text-align: center;
		}
	}

	&__list {
		font-size: 16px;
		line-height: 155.18%;
		margin: 0px 0px 40px 0px;
	}

	&__item {
		margin: 0px 0px 15px 0px;
		&:last-child{
			margin: 0;
		}
		position: relative;
		&::before{
			content:'';
			position: absolute;
			left: -13px;
			top: 50%;
			transform: translate(0px,-50%);
			width: 4px;
			height: 4px;
			border-radius: 50%;
			overflow: hidden;
			background-color: rgba(0, 0, 0, 0.171);
		}
	}

	&__button {
		font-size: 16px;
		align-self: flex-start;
		padding: 0px 66px; // добавить ширины
		@media (max-width:$md3+px){
			align-self: center;
		}
	}
}
//========================================================================================================================================================
.section-heading {
	font-family:'GothamPro';
	font-size: 48px;
	line-height: 155.18%;
	@media (max-width:$md1+px){
		font-size: 38px;
	}
	@media (max-width:$md2+px){
		font-size: 28px;
	}
}
.section-text {
	font-size: 18px;
	line-height: 150%;
	opacity: 0.8;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//====================================================================================================
.slider.slick-slider {
	// position: relative;

	// на весь экран:
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.slick-track {
		position: relative;
		width: 100%;
		display: flex;
	}
	.slick-slide {
		position: relative;
	}
	.slick-arrow {
	}

	.slick-dots {
	}
}
//====================================================================================================
// custom arrows for slick
.slider-arrows { 
	// расположить аболютно (относительно main-screen__container) в левом нижнем углу:
	position: absolute;
	left: 0;
	bottom: 0;
	bottom: 60px; // 135-75

	@media (max-width: 1500px){
		bottom: 100px;
	}
	@media (max-width:$md3+px){
		bottom: 30px;
		display: flex;
	}

	.prev {
		width: 75px;
		height: 75px;
	
		position: relative;
		z-index: 100;
	
		font-size: 0;
		
		border: 1px solid #fff;
		background: url("../img/main-screen/arrow-left.svg") 50% / 26px 22px no-repeat;
		// @media (min-width:$md2+px){
		// 	&:hover{
		// 		background-color: rgba(255, 255, 255, 0.253);
		// 	}
		// }
		@media (min-width:$md2+px){
			transition: all 0.3s ease 0s;
			&:before { // black arrow
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				transform: scale(0);
				// transition: all 0.2s ease 0s; // transition makes the arrow jumpy
			}
			&:after { // white bg
				// анимация
				content: "";
				position: absolute;
				z-index: -1; // to be below :before
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #fff;
				transform: scale(0);
				transition: all 0.2s ease 0s;
			}
			&:hover {
				&::before{
					transform: scale(1);
					background: url("../img/main-screen/arrow-left-black.svg") 50% / 26px 22px no-repeat;
				}
				&::after{
					transform: scale(1);
				}
			}
		}
		@media (max-width:$md3+px){
			width: 40px;
			height: 40px;
			margin: 0px 20px  0px 0;
		}
	}
	.next {
		width: 75px;
		height: 75px;
	
		position: relative;
		left: 42px;
	
		font-size: 0;
	
		border: 1px solid #fff;
		background: url("../img/main-screen/arrow-right.svg") 50% / 26px 22px no-repeat;

		@media (min-width:$md2+px){
			transition: all 0.3s ease 0s;
			&:before { // black arrow
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				transform: scale(0);
				// transition: all 0.2s ease 0s; // transition makes the arrow jumpy
			}
			&:after { // white bg
				// анимация
				content: "";
				position: absolute;
				z-index: -1; // to be below :before
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #fff;
				transform: scale(0);
				transition: all 0.2s ease 0s;
			}
			&:hover {
				&::before{
					transform: scale(1);
					background: url("../img/main-screen/arrow-right-black.svg") 50% / 26px 22px no-repeat;
				}
				&::after{
					transform: scale(1);
				}
			}
		}
		@media (max-width:$md3+px){
			width: 40px;
			height: 40px;
			left: 0px;
		}
	}
}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================

